/node_modules
/public/hot
/public/storage
/public/uploads/*
!/public/uploads/.htaccess
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode
/storage
/database/storage
.DS_Store
/storage/*
!/storage/.gitignore