\# ===============================
# Laravel
# ===============================
/vendor
/node_modules

# ===============================
# Environment files
# ===============================
.env
.env.*
!.env.example

# ===============================
# Laravel Storage (IMPORTANT)
# ===============================
/storage/*.key
/storage/app/*
/storage/framework/cache/*
/storage/framework/sessions/*
/storage/framework/views/*
/storage/logs/*
/storage/debugbar/*
/storage/firebase-adminsdk.json

# Allow empty folders
!/storage/app/.gitignore
!/storage/framework/.gitignore
!/storage/framework/cache/.gitignore
!/storage/framework/sessions/.gitignore
!/storage/framework/views/.gitignore
!/storage/logs/.gitignore

# ===============================
# Bootstrap Cache
# ===============================
/bootstrap/cache/*
!/bootstrap/cache/.gitignore

# ===============================
# Composer
# ===============================
composer.lock

# ===============================
# NPM
# ===============================
package-lock.json
yarn.lock

# ===============================
# IDE / Editor
# ===============================
.vscode/
.idea/
opencode.json
*.sublime-project
*.sublime-workspace

# ===============================
# OS Files
# ===============================
**/.DS_Store
Thumbs.db

# ===============================
# Logs
# ===============================
*.log

# ===============================
# PHPUnit
# ===============================
.phpunit.result.cache

# ===============================
# Misc
# ===============================
*.zip
*.tar
*.gz
public/downloads/ky-checking-24-04-2026.apk
public/uploads/
config/passport.php
git
